{# modules/default-page/views/page.html #} {% extends "layout.html" %} {% block
main %}

<div class="row organ-directory--base">
  <div class="col-12 pt-4 pb-4">
    <h2 class="pb-1">{{ data.page.subtitle }}</h2>
  </div>
  <div class="col-12">
    <ul>
      {# 👇 Referencing the global doc `primaryNav` property #} 
      {% for item in data.global.organsNav %}
      <li>
        <a href="{{ item._page[0]._url }}/">{{ item.label }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-12">{% area data.page, 'main' %}</div>
</div>

{% endblock %}
