.organ-builder-directory {
    &--base {
      div:nth-of-type(1) {
        text-align: center;
        h2 {
          display: inline-block;
          width: 90%;
          font-family: $headerFont;
          text-align: center;
          border-bottom: 1px solid $slate;
          line-height: 3;
        }
      }
      div:nth-of-type(2) {
        ul {
          display: inline-block;
          width: 80%;
          margin-left: 10%;
          margin-bottom: 0;
          padding-left: 0;
          text-align: center;
          li {
            display: inline-block;
            width: 8%;
            height: 70px;
            text-align: center;
            border-radius: 10px;
            margin: 10px;
            background-color: $parchment;
            font-size: 33px;
            font-weight: 600;
            line-height: 2;
          }
        }
      }
      div:nth-of-type(3) {
        > div {
          display: inline-block;
          width: 80%;
          margin-left: 10%;
          h4 {
            font-size: 22px;
            text-align: justify;
          }
        }
      }
    }
    &--index {
  
      &__retired {
        background-color: #2f4f48 !important;
        color: #fff;
        a {
          color: #fff;
        }
      }
  
      div:nth-of-type(1) {
  
        h2 {
          text-align: center;
          display: inline-block;
          width: 20%;
          font-family: $headerFont;
          text-align: center;
          margin-left: 40%;
          border-bottom: 1px solid $slate;
          font-weight: 600;
          line-height: 2;
        }
      }
  
      div:nth-of-type(2) {
        > div {
          display: inline-block;
          width: 80%;
          margin-left: 10%;
        }
      }
  
  
      article {
        background-color: $parchment;
      }
    }
    &--show {
    }
  }
  