$color-purple: #6236ff;
$color-purple-light: #8264f1;
$color-pink: #fe5599;
$color-green: #0c8;
$color-gold: #f7b500;

$slate: #2b2b2b;
$black: #000;
$lightGreenBg: #eefbf9;
$midGreenBg: #c6d7d4;
$darkGreenBg: #58605f;
// $accent: #ffdb98;
$accent: #73a5a5;
// $parchment: #fffaea;
$parchment: #f5fbfb;
//font {
//  color: #bed7d3;
//}
