{# modules/organdir-page/views/index.html #} {% extends "layout.html" %} {%
import '@apostrophecms/pager:macros.html' as pager with context %} {% block main
%}
<div class="row organ-builder-directory--index">
  <div class="col-12 pt-4 pb-4">
    <h2 class="pb-1">{{ data.page.subtitle }}</h2>
  </div>
  <div class="col-12 pt-4 pb-4">{% area data.page, 'main' %}</div>
  <div class="col-12">
    <div class="row">
      <div class="col-6">Name</div>
      <div class="col-3">Location (if not DE)</div>
      <div class="col-3">Postcode</div>
    </div>
    {% for builder in data.pieces %}
    <article
      class="row mt-3 mb-3 pt-1 pb-1 {% if builder.isRetired %} organ-builder--index__retired {% endif %}"
    >
      <div class="col-6">
        <a href="http://{{ builder.externalUrl }}">{{ builder.title }}</a>
      </div>
      <div class="col-3">{{ builder.outsideGermany }}</div>
      <div class="col-3">{{ builder.postcode }}</div>
    </article>
    {% endfor %} {{ pager.render({ page: data.currentPage, total:
    data.totalPages, class: 'blog-pager' }, data.url) }}
  </div>
</div>

{% endblock %}
